<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team11"
        tools:replace="android:appComponentFactory"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MDtwentysixActivity"
            android:exported="false" />
        <activity
            android:name=".MDtwentyfiveActivity"
            android:exported="false" />
        <activity
            android:name=".MDtwentyfourActivity"
            android:exported="false" />
        <activity
            android:name=".MDnineteenActivity"
            android:exported="false" />
        <activity
            android:name=".MDfourteenActivity"
            android:exported="false" />
        <activity
            android:name=".MDtenActivity"
            android:exported="false" />
        <activity
            android:name=".MDnineActivity"
            android:exported="false" />
        <activity
            android:name=".MDeightActivity"
            android:exported="false" />
        <activity
            android:name=".MDsevenActivity"
            android:exported="false" />
        <activity
            android:name=".MDsixActivity"
            android:exported="false" />
        <activity
            android:name=".MDfiveActivity"
            android:exported="false" />
        <activity
            android:name=".MDfourActivity"
            android:exported="false" />
        <activity
            android:name=".MDthreeActivity"
            android:exported="false" />
        <activity
            android:name=".MDtwoActivity"
            android:exported="false" />
        <activity
            android:name=".MapDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RealSigninActivity"
            android:exported="false" />
        <activity
            android:name=".FundingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GuideDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MapViewActivity"
            android:exported="false" />
        <activity
            android:name=".ProductElectronicActivity"
            android:exported="true" />
        <activity
            android:name=".FundingWriteActivity"
            android:exported="false" />
        <activity
            android:name=".AddDiaryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StreetGuideActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="2gmgwshzdj" />
    </application>

</manifest>